{% extends 'includes/base.html' %}
{% load static %} 

{% block title %}Technologies | Dycetix Technology Solutions{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/form/form.css' %}?v=1.0">
<link rel="stylesheet" href="{% static 'css/main/technologies.css' %}?v=1.0">
<link rel="stylesheet" href="{% static 'css/main/tech-industries-software-global.css' %}?v=1.0">
{% endblock %}

{% block structured_data %}
{{ block.super }}  


{% endblock %}

{% block content %}
    {% include 'frontend/technologies/sections/hero.html' %}
    {% include 'frontend/technologies/sections/java.html' %}
    {% include 'frontend/technologies/sections/python.html' %}
    {% include 'frontend/technologies/sections/C#.html' %}
    {% include 'frontend/technologies/sections/c++.html' %}
    {% include 'frontend/technologies/sections/javascript.html' %}
    {% include 'frontend/technologies/sections/swift.html' %}
    {% include 'frontend/technologies/sections/postgresql.html' %}
    {% include 'frontend/technologies/sections/anydesk.html' %}
    {% include 'frontend/technologies/sections/adobe.html' %}
    {% include 'frontend/technologies/sections/more-tech.html' %}
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/technologies.js' %}?v=1.0"></script>
{% endblock %}