<!-- {% extends "admin/base_site.html" %}

{% block content %}
{% if form.errors and not form.non_field_errors %}
<p class="errornote">
    Please enter a correct email address and password.
</p>
{% endif %}

<form action="{{ app_path }}" method="post" id="login-form">
    {% csrf_token %}
    
    <div class="form-row">
        {{ form.username.errors }}
        <label for="id_username" class="required">{{ form.username.label }}:</label>
        {{ form.username }}
    </div>
    
    <div class="form-row">
        {{ form.password.errors }}
        <label for="id_password" class="required">Password:</label>
        {{ form.password }}
    </div>
    
    <div class="submit-row">
        <input type="submit" value="Log in">
    </div>
</form>
{% endblock %} -->